<!DOCTYPE html>
<html>
    <head>
        <title>Tool List</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#tl a').mouseover(function() {
                    $(this).addClass('hover');
                });
                $('#tl a').mouseout(function() {
                    $(this).removeClass('hover');
                });
            });
        </script>
        <style type="text/css">
            .hover {
                color:Yellow;
            }
            .tblTitle {
                height:50px;
                background-color: #3B559C;
                padding: 5px;
                font-size: 45px;
            }
            .tltable {
                color: #AAAAAA;
                text-align: left;
            }
            .hlink {
                color: #FFFFFF;
            }
        </style>
    </head>
    
    <body bgcolor="#1E2B4E" link="#6EA9FB" vlink="#5F80B0">
        <div class="tblTitle">Tool List</div>
        <div class="tltable">
            <table id="tl" width=100%>
                <tr style="color:White;
                               background-color:
                               Black;font-weight:
                               bold;
                               font-size:20px">
                    <th>Tool</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><a href="/tools/matchqc#" id="link">Matchqc</a>

                    </td>
                    <td>Match and search test suit.</td>
                </tr>
                <tr>
                    <td><a href="anotherURL" id="link">Another tool</a>

                    </td>
                    <td>Some description</td>
                </tr>
            </table>
        </div>
    </body>

</html>
