<div id="inventory-app-container">
    <div id="inventory-app-header">
        <div id="buttons">
            <input type="button" class="button" id="add-button" value="Add Item" />
            <input type="button" class="button" id="remove-button" value="Remove Item" disabled=disabled />
        </div>
        <div id="tab-list-container">
            <ul id="tab-list">
                <li class="tab first" id="inventory-tab">Inventory</li>
                <li class="tab last" id="requests-tab">Requests</li>
            </ul>
        </div>
    </div>
    <div id="inventory-list">
    </div>
    <div id="requests-list">
    </div>
</div>
