<div id="change-team-modal-contents">
  <a class="modalCloseImg simplemodal-close" title="Close"></a>
  <form id="change-team-form">
    <div><strong>Current Team:</strong>&nbsp;<%= team %></div>
    <label for="team">New Team: </label>
    <input type="text" id="team-name-auto-field" name="team_name" />
    <input type="hidden" name="team" />
    <input type="submit" value="Change Team" />
  </form>
</div>
