<div id="edit-email-modal-contents">
    <a class="modalCloseImg simplemodal-close" title="Close"></a>
    <form id="update-email-form">
        <div><b>Old Email:</b>&nbsp;<%= email %></div>
        <label for="email">New Email: </label>
        <input type="email" name="email" />
        <input type="submit" value="Change Email" />
    </form>
</div>