<div id="edit-phone_number-modal-contents">
    <a class="modalCloseImg simplemodal-close" title="Close"></a>
    <form id="update-phone_number-form">
        <div><b>Old Phone #:</b>&nbsp;<%= phone_number %></div>
        <label for="phone_number">New Phone #: </label>
        <input type="tel" name="phone_number" />
        <input type="submit" value="Change Phone Number" />
    </form>
</div>
