*.pdf
.env
*.ai
*.pyc
*.sass-cache
*.DS_Store
*.swp
*.sublime-*
*.pid
.vagrant
Vagrantfile
*.db
Gemfile.lock
.rbenv-version
*.pem
reports/
src/
htmlcov/
.coverage
app/tmp/
docs/_build/

keys.json
.cache/
.sudo_as_admin_successful

app/static/coffee/inventory-built.js
app/static/sass/base.css
