{% block footer %}
    <div id="footer-content">
        <ul id="footer-navigation">
            <li><a href="#">About</a></li>
            <li><a href="http://whwn.tumblr.com/">Blog</a></li>
            <li><a href="{% url sponsor %}">Sponsors</a></li>
            <li><a href="{% url help %}">Help</a></li>
            <li><a href="{% url contact %}">Contact</a></li>
            <li><a href="{% url privacy %}">Privacy</a></li>
            <li><a href="{% url legal %}">Legal</a></li>
            <li>&copy 2012 UCSD</li>
        </ul>
    </div>
{% endblock %}
