<div id="search-box-container">
    <form method="GET" id="search-form">
        <label for="q">SEARCH:</label>
        <input type="text" name="q" class="inline search" autocomplete="off" value="{{ q }}" />
        <input type="submit" class="inline" style="margin-left: 20px" />
<!--        <input type="radio" name="filter" value="a" class="radio-filter inline" style="margin-left:30px" {% if filter == "a" %} checked {% endif %} />&nbsp;&nbsp;<b>All</b>
        <input type="radio" name="filter" value="h" class="radio-filter inline" style="margin-left:30px" {% if filter == "h" %} checked {% endif %} />&nbsp;&nbsp;<b>Things People Have</b>
        <input type="radio" name="filter" value="n" class="radio-filter inline" style="margin-left:30px" {% if filter == "n" %} checked {% endif %} />&nbsp;&nbsp;<b>Things People Need</b> --!>
    </form>
</div>
