{% extends "_base.html" %}


{% block content %}
    <div id="legal-content">
        <div id="column-1">
            {% include "_page_title.html" with title="WHWN Terms of Service" %}

            <h1>Terms of Service</h1>
            <p>The following terms and conditions govern the use of We Have, We Need, wehave-weneed.org 
            and all content, services, and products available at or through the website (taken together, 
            the Website). The Website is owned and operated by the Haiti Medical and Public 
            Information Sharing Environment ("MPHISE"). The Website is offered subject to your acceptance 
            of all terms and conditions contained herein and all other operating rules, policies without 
            modification (including, without limitation, MPHISE's Privacy Policy) and procedures that 
            may be published from time to time on this Site by MPHISE (collectively, the "Agreement").</p>

            <p>Please read this Agreement carefully before accessing or using the Website. By accessing 
            or using any part of the web site, you agree to become bound by the terms and conditions of 
            agreement. If you do not agree to all the terms and conditions of this agreement, then you 
            may not access the Website or use any services. If these terms and conditions are considered 
            an offer by MPHISE, acceptance is expressly limited to these terms. You must be at least 13 
            years old to access the website.</p>

            <h1>1. Your We Have, We Need Account</h1>
            <p>If you create an account on the Website, you are responsible for maintaining the security 
            of your account and you are fully responsible for all activities that occur under the account 
            any other actions taken in connection with the account. You must not describe or assign 
            keywords to any content created by You (including but not limited to messages, item postings,
            user names, biographic information) in a misleading or unlawful manner, including in a manner
            intended to trade on the name or reputation of others, and MPHISE may change or remove any 
            description or keyword that it considers inappropriate or unlawful, or otherwise likely to 
            cause MPHISE liability. You must immediately notify MPHISE of any unauthorized uses of your 
            account or any other breaches of security. MPHISE will not be liable for any acts or 
            omissions by You, including any damages of any kind incurred as a result of such acts or 
            omissions.</p>

            <h1>2. Responsibility of Contributors</h1>
            <p>If you create posts, messages, add information to your account profile, or otherwise 
            make (or allow any third party to make) material available by means of the Website (any 
            such material, "Content"), You are entirely responsible for the content of, and any harm 
            resulting from, the Content. That is the case regardless of whether the Content in question 
            constitutes text, graphics, audio, or computer software. By making the Content available, 
            you represent and warrant that:</p>
            <ol>
                <li type="i">The downloading, copying and use of the Content will not infringe the 
                proprietary rights, including but not limited to the copyright, patent, trademark or 
                trade secret rights of any third party;</li>
                <li type="i">If your employer has rights to intellectual property you create, you 
                have either
                    <ul>
                        <li>received permission from your employer to post or make available the Content, 
                        including but not limited to any software, or</li>
                        <li>secured from your employer a waiver as to all rights in or to the Content;</li>
                    </ul>
                </li>
                <li type="i">You have fully complied with any third-party licenses relating to the 
                Content, and have done all things necessary to successfully pass through to end users 
                any required terms;</li>
                <li type="i">The Content does not contain or install any viruses, worms, malware, 
                Trojan horses, or other harmful or destructive content;</li>
                <li type="i">The Content is not spam, is not machine- or randomly-generated, and 
                does not contain unethical or unwanted commercial content designed to drive traffic 
                to third party sites or boost the search engine rankings of third party sites, or to 
                further unlawful acts such as phishing) or mislead recipients as to the source of 
                the material (such as spoofing);</li>
                <li type="i">The Content is not pornographic, does not contain threats or incite 
                violence towards individuals or entities, and does not violate the privacy or 
                publicity of any third party;</li>
                <li type="i">Any public identifiers (such as username) are not named in a manner that 
                misleads others into thinking that you are another person, company, government, group 
                or organization other than your own; and</li>
                <li type="i">You have, for any posts made, accurately categorized and/or described 
                the type, nature, uses, and effects of the posted materials or services, whether 
                requested to do so by MPHISE or otherwise.</li>
            </ol>
            <p>By submitting Content to the Website, you grant MPHISE a world-wide, royalty-free, and 
            non-exclusive license to reproduce, modify, adapt and publish the Content. If you delete 
            Content, MPHISE will use reasonable efforts to remove it from the Website but retains the 
            right to use deleted Content for research in such a way that Content cannot be attributed to 
            You<sup>a</sup>. You acknowledge that caching or references to the Content may not be made immediately 
            unavailable.</p>

            <h1>3. Responsibility of Website visitors</h1>
            <p>MPHISE has not reviewed, and cannot review, all of the material, including computer 
            software, posted to the Website, and cannot therefore be responsible for that material's 
            content, use or effects. By operating the Website, MPHISE does not represent or imply that 
            it endorses the material there posted or that it believes such material to be accurate, 
            useful, or non-harmful. You are responsible for taking precautions as necessary to protect 
            yourself and your computer systems from viruses, worms, Trojan horses, malware, and other 
            harmful or destructive content. The Website may contain content that is offensive indecent, 
            or otherwise objectionable, as well as content containing technical inaccuracies, 
            typographical mistakes, and other errors. The Website may also contain material that violates 
            the privacy or publicity rights, or infringes the intellectual property and other proprietary 
            rights, of third parties, or the downloading, copying or use of which is subject to additional 
            terms and conditions, stated or unstated. MPHISE disclaims any responsibility for any harm 
            resulting from the use by visitors of the Website, or from any downloading by those visitors 
            of content there posted.</p>

            <h1>4. Content Posted on Other Websites</h1>
            <p>We have not reviewed, and cannot review, all of the material, including computer software, 
            made available through the websites and webpages to which the Website links, and that link 
            to the Website. MPHISE does not have any control over those non-We Have, We Need websites 
            and webpages, and is not responsible for their contents or their use. By linking to a 
            non-We Have, We Need website or webpage, MPHISE does not represent or imply that it endorses 
            such website or webpage. You are responsible for taking precautions as necessary to protect 
            yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or 
            destructive content. MPHISE disclaims any responsibility for any harm resulting from your 
            use of non-We Have, We Need websites and webpages.</p>

            <h1>5. Intellectual Property</h1>
            <p>This Agreement does not transfer from MPHISE to you any MPHISE or third party intellectual 
            property, and all right, title and interest in and to such property will remain (as between 
            the parties) solely with MPHISE. MPHISE, We Have, We Need, wehave-weneed.org, the We Have, 
            We Need logo, and all other trademarks, service marks, graphics and logos used in connection 
            with wehave-weneed.org, or the Website are trademarks or registered trademarks of MPHISE. 
            Other trademarks, service marks, graphics and logos used in connection with the Website may 
            be the trademarks of other third parties. Your use of the Website grants you no right or 
            license to reproduce or otherwise use any MPHISE or third-party trademarks.</p>

            <h1>6. Changes</h1>
            <p>MPHISE reserves the right, at its sole discretion, to modify or replace any part of this 
            Agreement. It is your responsibility to check this Agreement periodically for changes. Your 
            continued use of or access to the Website following the posting of any changes to this 
            Agreement constitutes acceptance of those changes. MPHISE may also, in the future, offer 
            new services and/or features through the Website (including, the release of new tools and 
            resources). Such new features and/or services shall be subject to the terms and conditions 
            of this Agreement.</p>

            <h1>7. Termination</h1>
            <p>MPHISE may terminate your access to all or any part of the website at any time, with or 
            without cause, with or without notice, effective immediately. If you wish to terminate this 
            Agreement or your We Have, We Need account (if you have one), you may simply discontinue 
            using the Website.</p>

            <h1>8. Disclaimer of Warranties</h1>
            <p>The Website is provided "as is". MPHISE and its suppliers and licensors hereby disclaim 
            all warranties of any kind, express or implied, including, without limitation, the 
            warranties of merchantability, fitness for a particular purpose and non-infringement. 
            Neither MPHISE nor its suppliers and licensors, makes any warranty that the Website will 
            be error-free or that access thereto will be continuous or uninterrupted. If you're actually 
            reading this, you win 5 internets! You understand that you download from, or otherwise 
            obtain content or services through, the Website at your own discretion and risk.</p>

            <h1>9. Limitation of Liability</h1>
            <p>In no event will MPHISE, or its suppliers or licensors, be liable with respect to any 
            subject matter of this agreement under any contract, negligence, strict liability or other 
            legal or equitable theory for:</p>
            <ul>
                <li>Any special, incidental or consequential damages.</li>
                <li>The cost of procurement for substitute products or services.</li>
                <li>Any interruption of use or loss or corruption of data.</li>
            </ul>
            <p>MPHISE shall have no liability for any failure or delay due to matters beyond their 
            reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

            <h1>10. General Representation and Warranty</h1>
            <p>You represent and warrant that (i) your use of the Website will be in strict accordance 
            with the MPHISE Privacy Policy, with this Agreement and with all applicable laws and 
            regulations (including without limitation any local laws or regulations in your country, 
            state, city, or other governmental area, regarding online conduct and acceptable content, 
            and including all applicable laws regarding the transmission of technical data exported 
            from the United States or the country in which you reside) and (ii) your use of the 
            Website will not infringe or misappropriate the intellectual property rights of any 
            third party.</p>

            <h1>11. Indemnification</h1>
            <p>You agree to indemnify and hold harmless MPHISE, its contractors, and its licensors, 
            and their respective directors, officers, employees and agents from and against any and 
            all claims and expenses, including attorneys' fees, arising out of your use of the Website, 
            including but not limited to your violation of this Agreement.</p>

            <h1>Change Log:</h1>
            <ul>
                <li>May 15, 2012: Terms of Service created</li>
            </ul>
        </div>
    </div>

{% endblock %}
