{% extends "_base.html" %}

{% block content %}
    <div id="privacy content">
        <div id="column-1">
            {% include "_page_title.html" with title="WHWN Privacy Policy" %}
            <p>We Have, We Need is an application that includes the site wehave-weneed.org and all content, 
            services, and products available on the site (taken to be the Website). The Website is owned 
            and operated by the Haiti Medical and Public Health Information Sharing Environment ("MPHISE"). 
            MPHISE wishes to respect the privacy of all users and visitors of the site. The Privacy Policy 
            below enumerates rights and limitations of users and visitors of the site.</p>

            <h1>Website Visitors</h1>
            <p>Like most website operators, MPHISE collects non-personally-identifying information of the 
            sort that web browsers and servers typically make available, such as the browser type, language 
            preference, referring site, and the date and time of each visitor request. MPHISE's purpose in 
            collecting non-personally-identifying information is to better understand how MPHISE's visitors 
            use its website. From time to time, MPHISE may release non-personally-identifying information in 
            aggregate, e.g. by publishing a report on trends in the usage of its website.</p>

            <h1>Gathering of Personally-Identifying Information</h1>
            <p>Certain visitors to MPHISE's websites choose to interact with MPHISE in ways that require 
            MPHISE to gather personally-identifying information. The amount and type of information that 
            MPHISE gathers depends on the nature of the interaction. For example, users that create 
            accounts are required to provide a name, email, and physical location. In each case, MPHISE 
            collects such information only insofar as is necessary or appropriate to fulfill the purpose 
            of the visitor's interaction with MPHISE. MPHISE does not disclose personally-identifying 
            information other than as described below. And visitors can always refuse to supply 
            personally-identifying information, with the caveat that it may prevent them from engaging 
            in certain website-related activities.</p>

            <h1>Aggregated Statistics</h1>
            <p>MPHISE may collect statistics about the behavior of visitors to its websites. For 
            instance, MPHISE may monitor the most popular types of postings in order to identify 
            common trends. However, MPHISE does not disclose personally-identifying information 
            other than as described below.</p>

            <h1>Protection of Certain Personally-Identifying Information</h1>
            <p>MPHISE discloses personally-identifying information only to those of its employees, 
            contractors, and affiliated organizations that (i) need to know that information in 
            order to process it on MPHISE's behalf or to provide services available at MPHISE's 
            websites, and (ii) that have agreed not to disclose it to others. Some of those employees, 
            contractors, and affiliated organizations may be located outside of your home country; 
            by using MPHISE's websites, you consent to the transfer of such information to them. MPHISE 
            will not rent or sell potentially-identifying and personally-identifying information to 
            anyone. Other than its employees, contractors, and affiliated organizations, as described 
            above, MPHISE discloses information only in response to a subpoena, court order or other 
            governmental request, or when MPHISE believes in good faith that disclosure is reasonably 
            necessary to protect the property or rights of MPHISE, third parties, or the public at 
            large. If you are a registered user of an MPHISE website and have supplied your email 
            address, MPHISE may occasionally send you an email to tell you about new features, 
            solicit your feedback, or just keep you up to date with that's going on with MPHISE 
            and our products. If you send us a request (for example via a support email or via one 
            of our feedback mechanisms), we reserve the right to publish it in order to help us 
            clarify or respond to your request or to help us support other users. MPHISE takes all 
            measures reasonably necessary to protect against unauthorized access, use, alteration 
            or destruction of potentially personally-identifying and personally-identifying information.<br />

            <strong>Tip: Never reveal your item's location.</strong></p>

            <h1>Cookies</h1>
            <p>A cookie is a string of information that a website stores on a visitor's computer, 
            and that the visitor's browser provides to the website each time the visitor returns. 
            MPHISE uses cookies to help identify and track visitors, their usage of MPHISE's websites, 
            and their website access preferences. MPHISE visitors who do not wish to have cookies 
            placed on their computers should set their browsers to refuse cookies before using MPHISE's 
            websites, with the drawback that certain features of MPHISE's websites may not function 
            properly without the aid of cookies.</p>

            <h1>Privacy Policy Changes</h1>
            <p>Although most changes are likely to be minor, MPHISE may change its Privacy Policy 
            from time to time, and at MPHISE's sole discretion. MPHISE encourages visitors to 
            frequently check this page for any changes to its Privacy Policy. If you have a We 
            Have, We Need account, you should also check your account's dashboard for alerts to 
            these changes. Your continued use of this site after any change in this Privacy Policy 
            will constitute your acceptance of such change.</p>

            <h1>Change Log</h1>
            <ul>
                <li>May 30, 2012: Privacy Policy created.</li>
            </ul>
        </div>
    </div>

{% endblock %}
